
.hero{
    margin: 0px 120px;
    margin-top: 270px;
}

.hero-text{
    color: Gold;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
    font-style: italic;
}

.hero-explore{
    display : flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    gap: 23px;
    align-items: center;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: #ff0000;
}
/* .hero-play{
    display: flex;
    gap: 30px;
    align-items: center;
} */

.hero-play {
    display: flex;
    gap: 30px;
    align-items: center;
}


.hero-play > * {
    opacity: 0.01;
    transition: opacity 0.3s ease; 
}


.hero-play:hover > * {
    opacity: 1;
}
/* .hero-play p{
    color: white;
    transparency: 0.5;
    font-size:16px;
 
} */

.hero-play p {
    color: white;
    opacity: 0.01; 
    font-size: 16px;
   
    transition: opacity 0.3s ease; 
}


.hero-play p:hover {
    opacity: 1;
}




