/** @format */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: gold;
}
.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 600;
  font-style: italic;
}



.nav-menu {
  display: flex;             
  list-style: none;          
  gap: 90px;                
  align-items: center;
  padding: 1rem 2rem;
  
}

.nav-menu a {
  text-decoration: none;    
  color: gold;             
  font-weight: 500;
  font-family: sans-serif;
  transition: all 0.3s ease; 
  position: relative;        
}


.nav-menu a:hover {
  color: #ff2600;           
}


.nav-menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #0e0e0e;
  transition: width 0.3s ease;
}

.nav-menu a:hover::after {
  width: 100%;              
}


.nav-contact a {
  background-color: #007bff;
  color: white !important;  
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
}

.nav-contact a:hover {
  background-color: #d62f20;
  transform: translateY(-2px); 
}


